//colors
$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #777;
//font
$default-font-size: 1.6rem;
//animations
$short-animation-duration: .25s;
$default-animation-duration: .4s;
$long-animation-duration: .7s;