//colors
$color-white: #fff;
$color-black: #222;

$color-grey-dark-1: #777;
$color-grey-dark-2: #525252;

$color-accent-1: #61adad;
//font
$default-font-size: 1.6rem;
//animations
$short-animation-duration: .25s;
$default-animation-duration: .4s;
$long-animation-duration: .7s;