.hero {
    margin: 5rem;
    height: calc(100vh - 10rem);
    background-color: $color-grey-dark-1;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;

    @include respond(tab-land) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 60%;
    }

    &__col {
        position: relative;
        background-position: center;
        background-size: cover;
        transition: all $default-animation-duration ease-in-out;

        canvas {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--1 {
            grid-row: 1 / 3;

            @include respond(tab-land) {
                grid-row: 1 / 2;
                grid-column: 1 / 3;
            }
        }

        &--2 {
            background-image: url("../assets/img/nicole.gif");
        }

        &--3 {
            background-image: url("../assets/img/hero-personal.jpeg");
        }
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, .4);
    }
    
    &__link {
        @include abscenter;
        text-transform: uppercase;
    }
}