.product {
    display: inline-block;
    width: 100%;
    background-color: $color-white;

    &__btn {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 2rem !important;
    }

    &__container {
        margin: 2rem 1rem 10rem;
        display: grid;
        grid-template-columns: 45rem 1fr;
        grid-gap: 2rem;
        grid-template-rows: min-content;

        @include respond(tab-land) {
            grid-template-columns: 30rem 1fr;
        }

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        position: relative;
        height: 45rem;
        width: 100%;

        @include respond(tab-land) {
            height: 30rem;
        }
    }

    &__slide {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &--1 {
            z-index: 20;
            clip-path: polygon(0 0, 85% 0, 95% 100%, 0 100%);
            animation-name: product-image-anim;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        &--2 {
            z-index: 10;
        }

        img {
            display: block;
            height: 45rem;
            width: 45rem;

            @include respond(tab-land) {
                height: 30rem;
                width: 30rem;
            }
        }
    }

    &__price {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 700;
        margin-top: 1rem;
    }

    &__details {
        margin-left: 4rem;
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
    }
}